var table = $('#target-table');
table.html('');
var data = JSON.parse(decodeURI("<%= escape_javascript(@res) %>"))
data.forEach((v) => appendTableChild(v));
function appendTableChild(item) {
table.append(`
<tr onclick="toggleModal('${item['document']}')">
  <td>${item['document']}</td>
  <td>${item['code']}</td>
  <td>${item['name']}</td>
  <td>${item['route']}</td>
  <td>${item['createDate']}</td>
  <td id="${item['document']}" style="display: none;">${JSON.stringify(item['orderProducts'])}</td>
</tr>
`);
}
