<h1 class="title is-4">Aplicación</h1>
<aside class="menu">
  <p class="menu-label">
    Menu
  </p>
  <ul class="menu-list">
    <li><a href="/app/clients" class="<%= @active_clients %>" >Clientes</a></li>
    <li><a href="/app/products" class="<%= @active_products %>" >Productos</a></li>
    <li><a href="/app/accounts" class="<%= @active_accounts %>" >Cuentas</a></li>
    <li><a href="/app/orders" class="<%= @active_orders %>" >Pedidos</a></li>
  </ul>
</aside>
